@import "tailwindcss";

@theme {
  --color-primary: #e4002b;
  --color-primary-hover: #b60020;
  --color-secondary: #202124;
  --color-tertiary: #f8f7f5;
  --color-neutral: #ffffff;
  
  --font-anton: var(--font-anton), sans-serif;
  --font-work-sans: var(--font-work-sans), sans-serif;
}

@layer base {
  :root {
    --background: #f9f9f9;
    --foreground: #1a1c1c;
  }
  
  html, body {
    @apply bg-[var(--background)] text-[var(--foreground)] font-work-sans antialiased scroll-smooth;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-anton tracking-wider uppercase;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
